/* 1er estilo   por defecto
esta es la configuracion por defecto del escritorio o desktop*/
.column{
    height: 50px;
    width:30%;
    float: left;
    background-color: blue;
    /*top and bottom 0 px and left and rigth 5px
    margin:0px 5px;   */
    margin: 10px;
}

/*2do estilo  1er media create
esta es la configuracion por defecto del tablet*/
@media(max-width:991px){
    .column{
        background-color: greenyellow;
    }
}

/*3er estilo    2do media create
esta es la configuracion por defecto del mobil*/
@media(max-width:767px){
    .column{
        width: 100%;
        background-color: black;
        /*top and bottom 5 px and left and rigth 0px*/
        margin: 5px 0px;
    }
}

.invisible{
    visibility: hidden;
}